
/* NAV SECTION */

.nav-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px 0;
}

.logo-text {
    color: white;
    font-family: "Inter", sans-serif;
    
}

.nav-link {
    color: rgb(134, 121, 121);
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.nav-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}


/* HERO SECTION */

.hero-section {
    padding: 80px 240px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937
}

.hero-lg,
.hero-sm {
    font-family: "Inter", sans-serif;
}

.hero-lg {
    color: white;
    font-weight: 800;
    font-size: 42px;
    margin: 0;
}

.hero-sm {
    color: rgb(158, 158, 158);
    
}

.hero-text {
    width: 300px;
    flex: 1 0 auto;
    padding-right: 40px;
}

.hero-img {
    display: flex;
    justify-content: flex-end;
    padding: 90px 120px 90px;
    background-color: grey;
    text-align: center;
}

.placeholder {
    color: white;
    font-family: "Inter", sans-serif;
}

.hero-btn {
    background-color: rgb(79, 120, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-family: "Inter", sans-serif;
}

/* INFO SECTION */

.img-placeholder {
    height: 150px;
    width: 150px;
    background-color: white;
    border-color: blue;
    border-radius: 10px;
    margin: auto;
}

.info-section {
    text-align: center;
    padding: 80px 240px 80px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.info-title {
    font-weight: 800;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}


.info-text {
    font-weight: 400;
    font-family: "Inter", sans-serif;
    padding-top: 10px;
    font-size: 14px;
}

.info {
    max-width: 200px;
}


