
/* NAV SECTION */

.nav-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
}

.logo-text {
    color: white;
    font-family: "Inter", sans-serif;
    
}

.nav-link {
    color: rgb(134, 121, 121);
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.nav-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}



/* HERO SECTION */

.hero-section {
    padding: 80px 15% 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    gap: 10px;
}

.hero-lg,
.hero-sm {
    font-family: "Inter", sans-serif;
}

.hero-lg {
    color: white;
    font-weight: 800;
    font-size: 42px;
    margin: 0;
    max-width: 300px;
}

.hero-sm {
    color: rgb(158, 158, 158);
    width: 400px;
    
}

.hero-text {
    width: 300px;
    flex: 1 1 auto;
    padding-right: 40px;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 90px 120px 90px; */
    background-color: rgb(161, 161, 161);
    text-align: center;
    height: 200px;
    width: 400px;
}

.placeholder {
    color: white;
    font-family: "Inter", sans-serif;
}

.hero-btn {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-family: "Inter", sans-serif;
}

.container-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    
}

/* INFO SECTION */

.img-placeholder {
    height: 150px;
    width: 150px;
    background-color: white;
    border-color: #3882F6;
    border-radius: 10px;
    margin: auto;
}

.info-section {
    text-align: center;
    padding: 80px 20% 80px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.info-title {
    font-weight: 800;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}


.info-text {
    font-weight: 400;
    font-family: "Inter", sans-serif;
    padding-top: 10px;
    color: rgb(71, 71, 71);
    width: 200px;
}

.info {
    max-width: 200px;
}

/* TESTIMONIAL SECTION */

.testimonial-section {
    padding: 120px 20%;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    flex: 0 1 auto;
    width: 850px;
}

.signature {
    text-align: right;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    padding-right: 10px;
}

/* CTA SECTION */

.cta-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 140px 20%;
}

.cta-container {
    background-color: #3882F6;
    height: 150px;
    width: 1200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    text-align: left;
}

.cta-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

.cta-text-lg,
.cta-text-sm {
    margin: 0;
    color: white;
    font-family: "Inter", sans-serif;
    padding-left: 50px;
}

.cta-text-lg {
    font-size: 20px;
    font-weight: 800;
    width: 400px;
}

.cta-text-sm {
    font-size: 14px;
    font-weight: 400;
}

.cta-btn {
    background-color: #3882F6;
    border-radius: 10px;
    border-width: 1.5px;
    border-color: white;
    height: 30px;
    width: 100px;
    border-style: solid;
    color: white;
}

/* FOOTER SECTION */

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1F2937;
    color: white;
    font-family: "Inter", sans-serif;
}




